apiVersion: v2
name: {{project_name|default("kumeo-agent")}}
description: A Helm chart for Kumeo Agent
type: application
version: 0.1.0
appVersion: "0.1.0"

# Dependencies for the chart
dependencies:
  - name: keda
    version: "2.12.0"
    repository: "https://kedacore.github.io/charts"
    condition: keda.enabled

maintainers:
  - name: Kumeo Team
    url: https://kumeo.io
